@mixin fondo-header ($url-imagen) {
    background-image: url($url-imagen);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
@mixin fondo-footer ($url-imagen) {
    background-image: url($url-imagen);
    background-repeat: repeat;
}
@mixin nav-link-hover($color) {
    &:hover {
      color: $color;
    }
}