$color_rojo: red;
$color_whitesmoke: whitesmoke;
$color_lightgray: lightgrey;
$color_cafe: #ab7a38;
$color_gris_claro_1: rgba(231, 227, 227, 0.69);
$color_gris_claro_2: rgba(233, 231, 231, 0.755);
$color_gris_claro_3: rgb(244, 244, 244);
$color_gris_oscuro_1: darkgray;
$color_gris_oscuro_2: rgb(106, 104, 104);
$fuente_principal: 'Montserrat', sans-serif;